name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:

  # =========================
  # CI JOB
  # =========================
  ci:
    name: Run CI checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show files
        run: ls

      - name: HTML validation
        uses: Cyb3r-Jak3/html5validator-action@v7

      - name: Dummy test
        run: echo "All checks passed"

  # =========================
  # CD JOB
  # =========================
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
